<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <title>Pr Vue Diego</title>
    <style>
       

    </style>
</head>
<body>
    <div id="app6" >
        <p>{{message}}</p>
        <input v-model="message" name="" id="">
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        var app6 = new Vue({
            el: "#app6",
            data: {
                message: "henlo me nam is diego"
            }
        })
    </script>
</body>