<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <title>Pr Vue Diego</title>
    <style>
        #app {
            padding: 2%;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-4 text-center">
            </div>
            <div class="col-sm-4">
                <div id="app">
                    <form @submit.prevent="enviarFormulario()">
                        Escribe una frase chingona
                        <br>
                        <input type="text" v-model="frase">
                        <br>
                        Y tu nombre
                        <br>
                        <input type="text" v-model="autor">
                        <br>
                        <button class="btn btn-primary" type="submit">Publicar</button>
                    </form>
                    <div v-for="(item, index) in frases" @click="borrarFrase(index)">
                        {{ item.frase}} - {{item.autor}}

                    </div>
                </div>
            </div>
            <div class="col-sm-4 text-center">
            </div>
        </div>
        <div class="row">
            <div id="owo" class="col-sm-12">
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        new Vue({
            el: "#app",
            data: {
                frase: "",
                autor: "",
                frases: [{
                    frase: "Pants",
                    autor: "Bart Simpson",
                }]
            },
            methods: {
                enviarFormulario: function () {
                    var datosChidos = {
                        frase: this.frase,
                        autor: this.autor
                    }
                    this.frases.push(datosChidos)
                },
                borrarFrase: function(index)
            {
                this.frases.splice(index,1)
            }
            },
        })
    </script>
</body>
</html>