<style>
.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	opacity: 0;
	transition: .5s ease;
	z-index: -1;
}

.overlay.active {
	opacity: 1;
	z-index: 2;
}

.modal {
	color: white;
	max-height: calc(100% - 100px);
	position: fixed;
	top: 50%;
	left: 50%;
	max-width: 450px;
	transform: translate(-50%, -50%);
	background: blue;
	z-index: 3;
	visibility: hidden;
	opacity: 0;
	transition: .5s ease;
}


.modal.active {
	visibility: visible;
	opacity: 1;
}
</style>

<div class="overlay"></div>
<div class="modal">
	<h2>Modal</h2>
	<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
	<button class="close">Close</button>
</div>

<button class="open">Open</button>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

<SCRIPT>
// requerimiento: al darle click al boton con clase open debe de abrir el modal
$('.open').click(function () {
	$('.modal, .overlay').show()
})

// requerimiento: al darle click al boton con clase close debe de cerrar el modal

// requerimiento: al presionar la tecla escape debe de cerrar el modal
</script>