#tit1
{
  text-align: center;
  background-image: url("https://sp.depositphotos.com/137053418/stock-photo-winter-forest-background-low-poly.html");
  border-style: hidden;
  margin: 80px;
  padding-bottom: 40px;

}
#subtit1
{
  color: maroon;
}
#bod1
{
  color: #9c9c9c
}
#img1
{
  height: 170px;
  width: 200px;


}
