<template>
  <q-page class="flex flex-center">
    <form class="gutter-sm full-width" @submit.prevent='submit()'>
<q-input v-model="text" float-label="Nombre" placeholder="Write your full name" />
    <div class="text-center">
        <q-btn icon="create" label="New item" type="submit" />
    </div>
    </form>
  </q-page>
</template>

<style>
</style>

<script>
export default {
  name: 'UserCreate',
  data: () => ({
    text: '',
    name: '',
    email: '',
    address: {
      city: ''
    }
  }),
  methods: {
    submit () {
      alert('hola')
      this.$axios.post('', this.usuario)
        .then((res) => {
          console.log('Owo')
        })
        .catch((error) => {
          console.error('Algo paso mal', error)
        })
    }
  }
}
</script>
