<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <title>Socializer</title>
    <style>


    </style>
</head>

<body>
    <div id="app6">

        <input v-model="titulo" placeholder="Titulo">
        <br>
        <input v-model="descripcion" placeholder="Descripcion">
        <br>
        <input v-model="link" placeholder="link">
        <br>
        <input v-model="imagen" placeholder="imagen">
        <br>

        <div class="preview-facebook">
            <div class="facebook__titulo">{{titulo}}</div>
            <div class="facebook__descripcion">{{descripcion}}</div>
            <img :src="imagen" alt="">
            <img v-bind:src="imagen" alt="">
        </div>

        <div class="preview-tw">
            <div class="tw">{{titulo}}</div>
            <div class="tw__descripcion">{{descripcion}}</div>
            <img :src="imagen" alt="">
            <img v-bind:src="imagen" alt="">
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        var app6 = new Vue({
            el: "#app6",
            data: {
                titulo: "",
                descripcion: "",
                link: "",
                img: ""
            }
        })
    </script>
</body>